{
  "comments": false,
  "env": {
    "main": {
      "presets": [
        ["@babel/env", {
          "targets": { "node": 7 }
        }],
        "@babel/preset-flow"
      ],
      "plugins": ["@babel/transform-runtime", "@babel/plugin-proposal-function-bind"]
    },
    "renderer": {
      "presets": [
        ["@babel/env", {
          "modules": false
        }],
        "@babel/preset-flow"
      ],
      "plugins": ["@babel/transform-runtime", "@babel/plugin-proposal-function-bind"]
    },
    "web": {
      "presets": [
        ["@babel/env", {
          "modules": false
        }],
        "@babel/preset-flow"
      ],
      "plugins": ["@babel/transform-runtime", "@babel/plugin-proposal-function-bind"]
    },
    "test": {
      "presets": [
        ["@babel/preset-env", {
          "targets": { "node": 7 }
        }],
        "@babel/preset-flow"
      ],
      "plugins": ["@babel/plugin-proposal-class-properties"]
    }
  }
}
