{
  "comments": false,
  "env": {
    "main": {
      "presets": [
        ["@babel/preset-env", {
          "targets": { "node": 7 }
        }],
        "@babel/preset-flow"
      ],
      "plugins": ["@babel/transform-runtime"]
    },
    "renderer": {
      "presets": [
        ["@babel/preset-env", {
          "modules": false
        }],
        "@babel/preset-flow"
      ],
      "plugins": ["@babel/transform-runtime"]
    },
    "web": {
      "presets": [
        ["@babel/preset-env", {
          "modules": false
        }],
        "@babel/preset-flow"
      ],
      "plugins": ["@babel/transform-runtime"]
    },
    "test": {
      "presets": [
        ["@babel/preset-env", {
          "targets": { "node": 7 }
        }],
        "@babel/preset-flow"
      ]
    }
  }
}
