{
  "comments": false,
      "presets": [
        ["@babel/env", {
          "modules": false
        }],
        "@babel/preset-flow"
      ],
      "plugins": ["@babel/transform-runtime", "@babel/plugin-proposal-function-bind"]
}
